body {
    overflow-x: hidden;
}
#body {
    display: flex;
}
/* navbar */
nav {
    width: 100vw;
    margin: 0px;
    padding: 0px;
    border: 1px solid var(--black);
    background-color: var(--transparentWhite);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    margin: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
nav a {
    padding: 5px;
    background-color: gray;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #EEF0F2;
}
nav a:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}
#leftSide {
    width: 60vw;
    padding: 10px;
}
h1 {
    color: darkslateblue;
    font-size: clamp(2em, 64px, 3em);
}
h2 {
    font-size: clamp(1.6em, 48px, 1.9em);
}
h3 {
    font-size: clamp(1.3em, 36px, 1.6em);
}
h4 {
    font-size: clamp(1.1em, 24px, 1.3em);
}
#aboutMe {
    padding: 5px;
}
#projects {
    border-radius: 20px;
    padding: 20px;
}
#projects section {
    padding: 5px;
    width: 100%;
}
#rightSide {
    width: 40vw;
    border-left: 3px solid black;
    align-items: center;
    padding: 10px;
}
#pfp {
    display: block;
    align-self: center;
    justify-self: center;
    width: 200px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 20px;
}
#contactInfo {
    padding: 10px;
    margin-bottom: 20px;
}
#contactInfo a {
    height: fit-content;
    text-decoration: none;
    padding: 10px;
}
#contactInfo li {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}
#skills {
    padding: 10px;
    margin-bottom: 20px;
}
#education {
    padding: 10px;
}
#education section {
    align-items: flex-start;
}

@media screen and (max-width: 600px) {
    #body {
        flex-direction: column;
    }
    #leftSide {
        width: 90vw;
        margin: auto;
    }
    #rightSide {
        width: 80vw;
        margin: auto;
        border-left: none;
    }
}